//- variables
block variables
	- const siteTitle = 'Vite Boilerplate';
	- const description = '';
	- const author = 'Serhii Mykulyn';

meta(charset='UTF-8')
title #{siteTitle}
meta(name='description', content=description)
meta(name='author', content=author)
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
